<html>
  <head>
    {% set title = "{} status".format(bot.username) %}
    {% set desc = "See how {} is performing right now".format(bot.username) %}
    {% set icon = bot.avatar_url %}
    {% include "_head.html" %}
  </head>
  <body class="dark-theme github">
    <div class="container">
      <section class="me unset">
        <img draggable="false" src="{{ bot.avatar_url }}" class="image-title">
        <div class="unset">
          <h1 class="title">{{ bot }}</h1>
          <p class="undertitle italic">Last reboot: <span id="last_reboot"></span></p>
          <script>
            const lr = document.getElementById("last_reboot")
            lr.innerText = unix_to_timestamp({{ bot.last_reboot }})
          </script>
        </div>
      </section>

      <div class="box-container secondary-dropshadow no-border-radius">
        <h1 class="no-margin">
          📜 Status breakdown
        </h1>
        <section class="flex-grid">
          {% for key, value in top_stats.items() %}
          <div class="col-xs-4">
            <p class="stats-key">{{ key }}</p>
            <p class="stats-value">{{ value }}</p>
          </div>
          {% endfor %}
        </section>
      </div>

      {% if discordstatus.has_issues() %}
        <div class="box-container alizarin-dropshadow no-border-radius">
          <h1 class="no-margin">{{ discordstatus.impact.title() }} / {{ discordstatus.name }}</h1>
          <p class="no-margin">
            {{ discordstatus.status.title() }}: {{ discordstatus.description }}
          </p>
          <div class="status-warning-xela">
            Note: This might affect how xelA performs, you can follow up on Discord's status
            <a class="emerald-text" href="{{ discordstatus.url }}" target="_blank">here</a>.
          </div>
        </div>
      {% endif %}

      <div class="box-container primary-dropshadow no-border-radius">
        <h1 class="no-margin">📶 Ping status</h1>
        <p class="no-margin"><i class="concrete-text">(Past 30 minutes)</i></p>
        <canvas id="ping_chart"></canvas>
        <script>
          chart_maker(
            'ping_chart', {{ lists.timestamps | safe }}, [
              { label: 'WebSocket', data: {{ lists.ws | safe }}, color: 'rgb(46, 204, 113)' },
              { label: 'REST', data: {{ lists.rest | safe }}, color: 'rgb(241, 196, 15)' },
              { label: 'Discord', data: {{ lists.discord | safe }}, color: 'rgb(88, 101, 242)' }
            ]
          )
        </script>
      </div>

      <div class="box-container primary-dropshadow no-border-radius metric-explain">
        <h1 class="no-margin">📖 Metric explanation</h1>

        <h2 class="header">↔️ REST</h2>
        <p class="description">
            Measures the total round-trip time for <b>{{ bot }}</b> to send an HTTP request to the API and receive a response.
            This metric reflects how quickly the bot can communicate with the API over standard web requests.
        </p>

        <h2 class="header">🔁 WebSocket</h2>
        <p class="description">
            Represents the real-time latency of the persistent WebSocket connection between <b>{{ bot }}</b> and the API.
            Unlike REST, which sends separate requests, WebSocket maintains an open connection, making this metric useful for tracking stability and responsiveness, similar to in-game latency.
        </p>

        <h2 class="header">📶 Discord</h2>
        <p class="description">
            A latency metric provided by Discord itself, showing their estimate of the delay between <b>{{ bot }}</b> and their servers.
            Since Discord has internal network insights, this serves as a useful reference point for comparison with the other metrics.
        </p>
      </div>

      <div class="box-container no-margin">
        <p class="footer-note no-margin">
          <span class="bold sun-flower-text">NOTE: </span>
          With this website, you can ensure that the bot is running smoothly,
          and check if your internet connection is <i>shit</i> or Discord is drunk yet again.
          <br><br>
          Also... are you a nerd and want the <b>raw</b> JSON data of <b>{{ bot }}</b>?
          Click <a href="/api?show=latest" target="_blank" class="peter-river-text">here</a>.
          Valid show arguments: <code>latest</code>, <code>history</code>, <code>user</code>. You use <code>, (comma)</code>
          to separate multiple arguments.
        </p>

        <p class="git-revision">
          Git revision: <b><a href="https://github.com/xelA/Status/commit/{{ git_rev }}" target="_blank" class="sun-flower-text">{{ git_rev }}</a></b>
          <i>({{ git_commit }})</i>
        </p>
      </div>


    </div>
  </body>
</html>
